.popup__input-container {
  display: flex;
  flex-direction: column;
  border: 0;
  padding: 0;
  margin: 43px auto 0 auto;
  max-width: 358px;
}

@media screen and (max-width:706px) {
  .popup__input-container {
    margin: 50px, auto 0 auto;
    max-width: 238px;
  }
}