.item {
  position: relative;
  width: 282px;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "image image"
    "image image"
    "name button"
    "name counter";
}

