.item__del-button{
  width: 18px;
  height: 19px;
  margin: 0;
  padding: 0;
  background-image: url(../../../images/del.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  transition: 0.3s ease;
visibility: hidden;

}


.item__del-button:hover{
  opacity: 0.6;
  cursor: pointer;
}
