.popup__save-button_type_disabled {
  opacity: 0.2;
  background: none;
  color: #000;
  border: 1px solid #000;
}

.popup__save-button_type_disabled:hover {
  cursor: not-allowed;
  opacity: 0.2;
}

@media screen and (max-width:706px) {
  .popup__save-button_type_disabled {
    height: 46px;
    margin: 16px auto 25px auto;
    font-size: 14px;
    line-height: 17px;
  }
}
